@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Flow+Circular&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.button {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
  background-color: #444;
  border-radius: 2px;
}
.button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color: #0f0;
  z-index: -1;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.button:hover:before {
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: #0c0;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/pngwing.png"), url("../assets/images/sarah-dorweiler-ALtNa-uKy3M-unsplash.png");
  background-size: 50% 100%;
  background-position: left, left;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: normal, multiply;
  z-index: 0;
  overflow: hidden;
}
.header h1 {
  position: absolute;
  top: 20%;
  left: 42%;
  font-size: 60.01px;
  font-weight: 800;
  line-height: 77.11px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #101C02;
}
.header h1 span {
  font-size: 75.41px;
  font-weight: 800;
  line-height: 84.54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #418A1C;
}
.header p {
  position: absolute;
  top: 60%;
  left: 52%;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #081800;
}
.header .hero_btn {
  position: absolute;
  top: 75%;
  left: 53.8%;
}
.header .hero {
  position: absolute;
  top: 85%;
  left: 53.8%;
  display: flex;
  gap: 50px;
}
.header .hero__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}
.header .hero__text b {
  font-size: 43px;
  font-weight: 700;
  line-height: 60.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #418A1C;
}
.header .hero__text h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #081800;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.header .nav img {
  width: 100px;
}
.header .nav__links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header .nav__links__list {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header .nav__links__list a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #418A1C;
}
.header .nav__links__list a:hover {
  color: #52c618;
}
.header .nav__links__list a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #52c618;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.header .nav__links__list a:hover:after {
  width: 100%;
}/*# sourceMappingURL=style.css.map */